In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv('GBBO Data Set - Bakes.csv')
raw_data.head()

,Season,Week Number,Baker,Week Name,Bake,Signature Bake,Signature Time Allotment (hours),Signature Sweet (1) or Savory (0),Signature Quantity,Signature Handshake,...,Showstopper Sweet (1) or Savory (0),Showstopper Quantity,Showstopper Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Competed,Winner,UK viewers (millions)
0,Series 1,1,Annetha,Cake,Cake,Light Jamaican Black Cake with Strawberries an...,3,1,1,0,...,1,1,0,1.0,0,0,0,1,0,NaN
1,Series 1,1,David,Cake,Cake,Chocolate Orange Cake,3,1,1,0,...,1,1,0,0.0,1,0,0,1,0,NaN
2,Series 1,1,Edd,Cake,Cake,Caramel Cinnamon and Banana Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,1,NaN
3,Series 1,1,Jasminder,Cake,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN
4,Series 1,1,Jonathan,Cake,Cake,Carrot Cake with Lime and Cream Cheese Icing,3,1,1,0,...,1,1,0,0.0,0,0,0,1,0,NaN

In [4]:
raw_data.dtypes

Season                                  object
Week Number                              int64
Baker                                   object
Week Name                               object
Bake                                    object
Signature Bake                          object
Signature Time Allotment (hours)        object
Signature Sweet (1) or Savory (0)       object
Signature Quantity                      object
Signature Handshake                      int64
Technical Bake                          object
Technical Recipe Writer                 object
Technical Time Allotment (hours)        object
Technical Sweet (1) or Savory (0)      float64
Technical Quantity                      object
Technical Rank                         float64
Showstopper                             object
Showstopper Bake                        object
Showstopper Time Allotment (hours)      object
Showstopper Sweet (1) or Savory (0)     object
Showstopper Quantity                    object
Showstopper Handshake                    int64
Favorite                               float64
Least Favorite                           int64
Star Baker                               int64
Eliminated                               int64
Competed                                 int64
Winner                                   int64
UK viewers (millions)                  float64
dtype: object

In [5]:
clean_data = raw_data[["Season","Week Number","Baker","Bake","Signature Bake"]]
clean_data["Sweet"] = raw_data["Signature Sweet (1) or Savory (0)"].astype("bool")
clean_data["Handshake"] = raw_data["Signature Handshake"].astype("bool")
clean_data = pd.concat([clean_data,raw_data[["Favorite","Least Favorite","Star Baker","Eliminated","Winner"]].astype("bool")], axis=1)
clean_data.head()

,Season,Week Number,Baker,Bake,Signature Bake,Sweet,Handshake,Favorite,Least Favorite,Star Baker,Eliminated,Winner
0,Series 1,1,Annetha,Cake,Light Jamaican Black Cake with Strawberries an...,True,False,True,False,False,False,False
1,Series 1,1,David,Cake,Chocolate Orange Cake,True,False,False,True,False,False,False
2,Series 1,1,Edd,Cake,Caramel Cinnamon and Banana Cake,True,False,False,False,False,False,True
3,Series 1,1,Jasminder,Cake,Fresh Mango and Passion Fruit Hummingbird Cake,True,False,False,False,False,False,False
4,Series 1,1,Jonathan,Cake,Carrot Cake with Lime and Cream Cheese Icing,True,False,False,False,False,False,False

In [20]:
titles = clean_data["Signature Bake"]
words = []
numErrors = 0
for title in titles:
    try:
        if(type(title) is str):
            words_in_title = title.split(" ")
            words.extend(words_in_title)
    except Exception as e:
        numErrors = numErrors + 1
        print(e)
        print(title)
        break

unique_words, a, b, unique_counts = np.unique(words)
words_with_counts = pd.DataFrame(data=[unique_words, unique_counts],columns=["Words in Titles","Number of Occurrences"])
print(words_with_counts)
print(numErrors)

TypeError: must be str or None, not numpy.ndarray